h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

p {
  font-size: 25px;
  flex-wrap: wrap;
  text-align: center;
}

button {
  display: block;
}

#timer {
  text-align: right;
  font-size: 20px;
  padding-right: 15px;
}

#start {
  font-size: 25px;
  position: absolute;
  left: 50%;
  background-color: red;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.hide {
  display: none;
}

#questionSection {
  display: none;
  font-size: 50px;
  position: absolute;
  top: 25%;
  left: 50%;
}

#answerButtons {
  width: 50px;
  height: 50px;
}

#endScreen {
  display: none;
}